@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice{
  color: #8A6D3B;
  background-color: #FCF8E3;
  border-color: #FAEBCC;
}


.navbar{
  // Gradient from http://uigradients.com
  background: -webkit-linear-gradient(90deg, #85d8ce 10% , #085078 90%);
  background:    -moz-linear-gradient(90deg, #85d8ce 10% , #085078 90%);
  background:     -ms-linear-gradient(90deg, #85d8ce 10% , #085078 90%);
  background:     -o-linear-gradient(90deg, #85d8ce 10% , #085078 90%);
  background:        linear-gradient(90deg, #85d8ce 10% , #085078 90%);
}